<app-navbar></app-navbar>
<div class="container">
    <div class="row">
      
        <div class="col-md-3 mt-5">
            <h2 class="h2 text-center">Modificar</h2>
            <form [formGroup]="productEditForm"  class="form-group p-3 bg-light border border-dark text-center fw-bold">
                <div class="form-group mt-2">
                    <label for="product-name" class="form-label fs-7  border-dark">Nombre</label>
                    <input class="form-control" type="text" formControlName="productName" id="product-name">
                    <div *ngIf="productName.invalid && (productName.dirty || productName.touched)" class="text-danger">
                    <div *ngIf="productName.errors?.['required']">
                    Falta el nombre...
                    </div>
                   </div>
                </div>
                <div class="form-group">
                    <label for="categoryId" class="form-label fs-7 mt-4">Categoria</label>
                <select id="categoryId"  formControlName="categoryId" class="form-select border-dark  mt-2">
                    <option type="number" class="form-control" *ngFor="let category of categories" id="categoryId" [value]="category.id">
                        {{category.categoryName}}</option>
                        <div *ngIf="categoryId.invalid && (categoryId.dirty || categoryId.touched)" class="text-danger">
                            <div *ngIf="categoryId.errors?.['invalid']">
                           Debes seleccionar una categoria
                            </div>
                           </div>
                </select>
            </div>
                <div class="form-group mt-2">
                    <label for="product-price" class="form-label fs-7  border-dark">Precio</label>
                    <input class="form-control " type="number" formControlName="productPrice" id="product-price">

                    <div *ngIf="productName.invalid && (productName.dirty || productName.touched)" class="text-danger">
                        <div *ngIf="productName.errors?.['required']">
                        Deben ser numeros
                        </div>
                       </div>
                </div>
                <button type="submit" (click)="updateProduct()" class="btn btn-success border border-dark mt-2 mb-2">Guardar</button>
            </form>

        </div>
        <div class="col-md-6 mt-5">
            <h2 class="h2 text-center">Productos</h2>
            <table class="table table-fluid table-hover table-bordered table-striped border border-dark">
                <thead>
                    <tr class="bg-primary opacity-50">
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Receta</th>
                      

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <th scope="row" class="fw-bold">{{product.id}}</th>
                        <th scope="row" class="fw-bold">{{product.productName}}</th>
                        <th scope="row" class="fw-bold">{{product.categoryName}}</th>
                        <th scope="row" class="fw-bold">{{product.productStock}}</th>
                        <th scope="row" class="fw-bold">{{product.productPrice}}</th>
                        <th *ngIf="product.mixed" scope="row" class="fw-bold">Si</th>
                        <th *ngIf="!product.mixed" scope="row" class="fw-bold">No</th>

                       
                    </tr>
                 </tbody>
            </table>
        </div>
        <div class="col-md-2 mt-5">
            <h2 class="h2 text-center">Categorias</h2>
            <table class="table table-fluid table-hover table-bordered table-striped border border-dark">
                <thead>
                    <tr class="bg-primary opacity-50">
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let category of categories">
                        <th scope="row" class="fw-bold">{{category.id}}</th>
                        <th scope="row" class="fw-bold">{{category.categoryName}}</th>
                      
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>
</div>
