<app-navbar></app-navbar>
<div class="container-flex">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 mt-5">
            <form class="form-group border p-3 bg-lightborder-dark text-center" [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
               <div class="form-group"></div>
                <label for="categoryName" class="d-block fs-6 fw-bold">Nombre </label>
                <input id="categoryName" type="text" formControlName="categoryName">
                <div *ngIf="categoryName.invalid && (categoryName.dirty || categoryName.touched)" class="text-danger">
                    <div *ngIf="categoryName.errors?.['required']">
                    Debes agregar una categoria
                    </div>
                   </div>


                <button id="btnSubmit" type="submit" class="btn btn-sm   mt-2">Guardar</button>
            </form>
        </div>
        <div class="col">
        
<div class="container-flex mt-5 text-center">
  <div class="row">
   
    <div class="col-md-4">
<table class="table table-fluid table-hover table-bordered table-striped border border-dark">
    <thead>
      <tr class="bg-primary opacity-50">
      <th scope="col">Nombre</th>
        <th scope="col">Editar</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
      <th scope="row" class="fw-bold">{{category.categoryName}}</th>
        <th>
        <button (click)="openDialogUpdateIngredientCategory(category.id,updateIngredientCategoryTemplate)" id="btnEdit" class="btn  btn-sm text-center  ms-1 ">-</button>
      
      </th>
      </tr>
     
    </tbody>
  </table>
</div>
</div>
</div>
        </div>
    </div>
</div>
<ng-template #updateIngredientCategoryTemplate>
  <h1 class="h1 text-center text-white bg-success" mat-dialog-title>Modificar Categoria Ingredientes</h1>
  <div mat-dialog-content class="">
      <form [formGroup]="updateIngredientCategoryForm"  class="form-group p-3 bg-light border border-dark text-center fw-bold">
          <div class="form-group mt-2">
              <label for="category-name" class="form-label fs-7">Rol de trabajo</label>
              <input class="form-control border-dark" type="text" formControlName="categoryName" id="category-name">
              <div *ngIf="categoryName.invalid && (categoryName.dirty || categoryName.touched)" class="text-danger">
              <div *ngIf="categoryName.errors?.['required']">
              Falta el nombre...
              </div>
             </div>
          </div>
    
          <button type="submit" (click)="updateIngredientCategory()" class="btn btn-success border border-dark mt-2 mb-2">Guardar</button>
      </form>
  </div>
</ng-template>

