<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <h2 class="h2 text-center">Jornadas</h2>
            <table class="table table-fluid table-hover table-bordered table-striped border border-dark">
                <thead>
                    <tr class="bg-primary opacity-50">
                        <th scope="col">Fecha</th>
                       <th scope="col">Total inicio de caja</th>
                       <th scope="col">Total Jornada + Caja</th>
                       <th scope="col">Total + Caja - Empleados</th>
                        <th scope="col">Total efectivo</th>
                        <th scope="col">Total Transferencia</th>
                        <th scope="col">Total Debito</th>
                        <th scope="col">Total Credito</th>
                        <th scope="col">Total Mercado Pago</th>
                        <th scope="col">Total Salario Empleados</th>
                        <th scope="col">Opciones</th>
                       

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let workingDay of workingDays">
                       <td scope="row" class="fw-bold">{{workingDay.date}}</td>
                       <td scope="row" class="fw-bold">{{workingDay.totalStartCash | currency:'$':'symbol'}}</td>
                       <td scope="row" class="fw-bold">{{workingDay.totalWorkingDay | currency:'$':'symbol'}}</td>
                       <td scope="row"  *ngIf="workingDay.totalWorkingDayWithDiscount>0" class="fw-bold">{{workingDay.totalWorkingDayWithDiscount | currency:'$':'symbol'}}</td>
                       <td scope="row" *ngIf="workingDay.totalWorkingDayWithDiscount<0" class="fw-bold text-danger">{{workingDay.totalWorkingDayWithDiscount | currency:'$':'symbol'}}</td>
                       <td scope="row" class="fw-bold">{{workingDay.totalCash | currency:'$':'symbol'}}</td>
                       <td scope="row" class="fw-bold">{{workingDay.totalTransf | currency:'$':'symbol'}}</td>
                       <td scope="row" class="fw-bold">{{workingDay.totalDebit | currency:'$':'symbol'}}</td>
                       <td scope="row" class="fw-bold">{{workingDay.totalCredit | currency:'$':'symbol'}}</td>
                       <td scope="row" class="fw-bold">{{workingDay.totalMP | currency:'$':'symbol'}}</td>
                     <td scope="row" class="fw-bold">{{workingDay.totalEmployeeSalary | currency:'$':'symbol'}}</td>
                        <td>
                            <button (click)="getEmployeesByWorkingDayId(workingDay.id)" class="btn btn-success btn-sm text-white ms-4 ">Empleados</button>
                            <button routerLink="/stats-tables/{{workingDay.id}}" class="btn btn-success btn-sm text-white ms-2 ">Mesas</button>
                            <button (click)="onDeleteWorkingDay(workingDay.id)" class="btn btn-danger btn-sm text-white  ms-4 mt-2">Eliminar</button>
                        </td>
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <h2 class="h2 text-center">Empleados</h2>
            <table class="table table-fluid table-hover table-bordered table-striped border border-dark">
                <thead>
                    <tr class="bg-primary opacity-50">
                        <th scope="col">Empleado</th>
                        <th scope="col">Rol</th>
                       <th scope="col">Salario</th>
                   
                     
                       

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                       <td scope="row" class="fw-bold">{{employee.employeeName}}</td>
                       <td scope="row" class="fw-bold">{{employee.employeeJob}}</td>
                       <td scope="row" class="fw-bold">{{employee.employeeSalary | currency:'$':'symbol'}}</td>
                     </tr>
                 </tbody>
            </table>
        </div>
    </div>

</div>

   
