<app-navbar></app-navbar>
<div class="container mt-5">
    <div class="row">
        <div class="col md-2">
            <table class="table table-bordered border border-primary table-striped table-hover text-center">
                <thead >
                    <tr >
                        <th scope="col " class="text-dark fs-4">Nombre</th>
                       
                        <th scope="col"  class="text-dark fs-4">Stock</th>
                        <th scope="col"  class="text-dark fs-4">Modificar</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                       
                        <td class="fw-bold fs-5">{{product.productName}}</td>
                  
                        <td *ngIf="product.productStock<=5" class="fw-bold text-danger fs-5">{{product.productStock}}</td>
                        <td *ngIf="product.productStock>5" class="fw-bold text-success fs-5" >{{product.productStock}}</td>
                        <td >
                            <input class="fs-6 fw-bold" type="number" name="productStock" id="productStock" min="1"
                              #productStock >
                            <button class="btn btn-sm btn-success ms-3"
                              (click)=" onCreateStock(product.id,productStock.value)">Aumentar</button>
                              <button class="btn btn-sm btn-danger ms-3"
                              (click)=" onReduceStock(product.id,productStock.value)">Reducir</button>
                          </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div clas="col-md-8"></div>
    </div>
</div>