<app-navbar></app-navbar>

<div class="container-fluid mt-4">
  <a id="new" routerLink="/book-dialog"  class="btn btn-dark btn-md opacity-75 text-white">Nuevo</a>
    <div class="row">
      <div class="col-md-2" *ngFor="let ingredients of ingredients">
        <div class="card mt-3" >
         <div class="p list-group text-dark fw-bold">
            <p class="card-text fs-5 text-center text-success fst-italic mt-2">{{ingredients.ingredientName}} </p>
            <p class="card-text fs-7 text-center mt-4">Categoria: {{ingredients.categoryName}}</p>
            <div  class="d-inline card-text text-center fs-7">Stock:</div>
            <div *ngIf="ingredients.ingredientAmount>=500" class="d-inline card-text text-center text-success fs-6 mb-1">{{ingredients.ingredientAmount}} gr</div>
            <div *ngIf="ingredients.ingredientAmount<500" class="d-inline card-text text-center text-danger fs-6 mb-1">{{ingredients.ingredientAmount}} gr</div>
            <div *ngIf="ingredients.ingredientAmount==null" class="d-inline card-text text-center text-danger fs-6 mb-2 mt-0">Sin stock</div>
          
           
            <a id="modify"  routerLink="/ingredient-modify/{{ingredients.id}}"  class="btn  btn-sm bg-dark opacity-75 text-white">Modificar</a>
            <a id="delete" routerLink="/"  class="btn btn-sm btn-danger btn-md opacity-75 text-white mt-1">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
   </div>
  
