<app-navbar></app-navbar>
<div class="container-lg mt-3">
    <div  class="row row ">
        <div  class="col-md-4 text-center mt-0">
            <button *ngIf="!productSelected" class="btn btn-danger bg-transparent text-dark fw-bold mt-2" >Ningun producto seleccionado</button>
            <button *ngIf="productSelected" class="btn btn-danger bg-danger text-white fw-bold mt-2"
        (click)="onProductUnselect()">En seleccion: {{productSelectedName}}</button> 
        </div>
    </div>
    <div class="row mt-0">
        
        <div class="col md-2 mt-0">
            <h2 class="h2 text-center fw-bold">Productos</h2>
            <table class="table table-sm table-bordered border border-primary table-striped table-hover text-center ms-3">
                <thead >
                    <tr >
                        <th scope="col " class="text-dark fs-6">Producto</th>
                       
                       
                        <th *ngIf="!productSelected" scope="col"  class="text-dark fs-6">Seleccion</th>
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                       
                        <td class="fw-bold fs-6">{{product.productName}}</td>
                <td *ngIf="!productSelected"><button  class="btn btn-success bg-transparent text-dark fw-bold "
                     (click)="onProductSelect(product.id)">Seleccionar</button></td>
                  
                    
                  
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col md-2">
            <h2 class="h2 text-center fw-bold">Ingredientes</h2>
            <table class="table table-sm table-bordered border border-success table-striped table-hover text-center ms-3">
                <thead >
                    <tr >
                        <th scope="col " class="text-dark fs-6">Ingrediente</th>
                       
                        <th *ngIf="productSelected"  scope="col"  class="text-dark fs-6">Seleccion</th>
                     
                      
                    </tr>
                </thead>
                <tbody>
                    <tr   *ngFor="let ingredient of ingredients">
                       <td class="fw-bold fs-7">{{ingredient.ingredientName}}</td>
                    <td *ngIf="productSelected" >
                        <input class="fs-6 fw-bold" type="number" name="ingredientAmount" id="ingredientAmount" min="1"
                          #ingredientAmount >
                        <button class="btn btn-sm btn-success ms-3"
                          (click)=" saveIngredientMix(ingredient.id,ingredient.ingredientName,ingredientAmount.value)">Aplicar</button>
                         
                      </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col md-2">
            <h2 *ngIf="!productSelected" class=" h2 text-center fw-bold">Receta</h2>
            <h2 *ngIf="productSelected" class=" h2 text-center fw-bold">{{productSelectedName}}</h2>
           
            <table class="table table-sm table-bordered border border-danger table-striped table-hover text-center ms-3">
                <thead >
                    <tr >
                        <th scope="col " class="text-dark fs-6">Ingrediente</th>
                        <th scope="col " class="text-dark fs-6">Cantidad</th>
                    
                       
                     
                      
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ingredientMix of ingredientMixes">
                       <td scope="row" class="fw-bold fs-5">{{ingredientMix.ingredientName}}</td>
                       <td scope="row" class="fw-bold fs-5">{{ingredientMix.ingredientAmount}} gr</td>
                    
                       
                    </tr>

                </tbody>
            </table>
        </div>
       
       
    </div>
    
</div>
