<div class="container">
    <div class="row mb-5"></div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
       <h1 class="h1 text-center fw-bold">Login</h1>
        <form class="form-group justify-center mt-5 text-center" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username" class="form-label mt-2 text-success fw-bold fs-6">Nombre de usuario: </label>
            <input type="text" class="form-control border-dark" formControlName="username" id="username" placeholder="nombre de usuario">
            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text-danger">
              <div *ngIf="username.errors?.['required']">
                username requerido
              </div>
              <div  class="mt-1" *ngIf="username.errors?.['username']">
                el username debe tener como minimo 4 letras
              </div>
            </div>
          </div>
          <div class="form-group mt-3">
            <label for="password" class="form-label mt-3 text-success fw-bold fs-6">Contraseña:</label>
            <input type="password" class="form-control border-dark" formControlName="password" id="password" placeholder="contraseña">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
              <div class="mt-1" *ngIf="password.errors?.['required']">
                password requerido
              </div>
            </div>
            <button id="btnSubmit" type="submit"  class="btn btn-success btn-block mt-3  ">Ingresar</button>
            <button  type="button" routerLink="/register" class="btn btn-warning btn-block mt-3 text-white  mx-3 ">Registrarse</button>
          </div>
          
        </form>
        </div>
      <div class="col"></div>
    </div>
  </div>
