<app-navbar></app-navbar>
<div class="container-flex mt-5 text-center">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<table class="table table-fluid table-hover table-bordered table-striped border border-dark">
    <thead>
      <tr class="bg-primary opacity-50">
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Opciones</th>
       </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <th scope="row" class="fw-bold">{{category.id}}</th>
        <th scope="row" class="fw-bold">{{category.categoryName}}</th>
        <th>
        <button class="btn btn-success btn-sm text-white ms-4 ">Editar</button>
        <button class="btn btn-danger btn-sm text-white  ms-4">Eliminar</button>
      </th>
      </tr>
     
    </tbody>
  </table>
</div>
</div>
</div>