<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col mt-3">
            <h2 class="h2 text-center">Jornadas</h2>
            <table class="table table-fluid table-hover table-bordered table-striped border border-dark">
                <thead>
                    <tr class="bg-primary opacity-50">
                        <th scope="col">Empleado</th>
                        <th scope="col">Rol</th>
                       <th scope="col">Salario</th>
                   
                     
                       

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees">
                       <td scope="row" class="fw-bold">{{employee.employeeName}}</td>
                       <td scope="row" class="fw-bold">{{employee.employeeJob}}</td>
                       <td scope="row" class="fw-bold">{{employee.employeeSalary}}</td>
                     
                     
                      
                        <td>
                            
                        </td>
                    </tr>
                 </tbody>
            </table>
        </div>
    </div>
</div>
